.header {
  font-size: 18pt;
  background-color: #e6e6e6;
  text-align: center;
}

.header-paragraphs {
  margin: 40px 150px;
  font-size: 10pt;
}
.coloumn1{
  background-color: #2E4057;
  color: aliceblue;
  margin: 20px 20px;
}
.coloumn2{
  background-color: #2E4057;
  color: aliceblue;
  margin: 20px 20px;
  /* padding-top: 40px; */
  font-size: 12pt;
  display: flex;
  justify-content: center;
  align-items: center;
}
fieldset {
  margin: 10px;
}

.form-check {
  font-size: 12pt;
  margin: 10px;
}

footer {
  background-color: aquamarine;
  text-align: left;
}

li {
  font-size: 8pt;
  margin-right: 15px;
  display: inline-block;
}
